language: csharp
solution: ConsoleApp.sln
install:
  - nuget restore ConsoleApp.sln
  - nuget install NUnit.Console -Version 3.10.0 -OutputDirectory testrunner
script:
  - msbuild /p:Configuration=Release ConsoleApp.sln
  - mono ./testrunner/NUnit.ConsoleRunner.3.10.0/tools/nunit3-console.exe ./Engine.Core.UnitTests/bin/Release/Engine.Core.UnitTests.dll
